<%- include('partials/header') -%>

<h1>Profile page</h1>

<div class="col-6">
    <div>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
</div>

<%- include('partials/footer') -%>